<h2>Delete <%= tview.tname %></h2>
<div>
	<p>Are you sure you want to delete this <%= tview.tname %> {{data._id}} ?</p>
	<button ng-click="tdeleteData()">Yes</button> | -
	<button ng-click="tdeleteNone()">No thanks</button>
<div>
